table,th,td{
		border: 1px solid black;
		border-collapse: collapse;
		
}

table {
	width: 30%;
}

tr:nth-child(2), tr:nth-child(4) {
	background: yellow;
}	

tr:nth-child(3), tr:nth-child(5) {
	background: red;
}

td:nth-child(2), td:nth-child(3) {
	text-align: center;
}

td:nth-child(4), th:nth-child(4){
	text-align: right;
}

th:nth-child(1) {
	text-align: left;
}



caption {
	font-size: 20px;
	caption-side: bottom;
	text-align; center;
	font-family: Arial;
}
