table{
	border-collapse: collapse;
	border: 1px solid black;
	width:550px;
	height: 525px;
}

caption{
	caption-side: bottom;
	text-align: center;
}
.blue{
	background: blue;
}
.red{
	background: red;
}
.yellow{
	background: yellow;
}
.black{
	background: black;
}
.green{
	background: green;
}